/* GLOBAL SLIDER STYLE */
.main-slider-section{
    background-color: var(--main-color);
}
.main-slider-section .slider-content{
    position: relative;
    overflow: hidden;
}
/* ------------------- */
/* PREVIOUS & NEXT */
.slider-content .slider-btns{
    position: absolute;
    top:45%;
    transform: translate(0, -50%);
    width: 100%;
    z-index: 2;
}
.slider-content .slider-btns .slider-prev,
.slider-content .slider-btns .slider-next{
    position: absolute;
    cursor: pointer;
}
.slider-content .slider-btns .slider-prev {
    left: -15px;
}
.slider-content .slider-btns .slider-next {
    right: 15px;
}
.slider-content .slider-btns *{
    color: white;
    font-size: var(--middle-2-global-size);
}
/* ----------------- */
/* = SLIDER IMAGES = */
.slider-content .slider-imgs{
    overflow: hidden;
    width: 100%;
    height: 700px;
    opacity: 0;
    top: 100px;
    position: relative;
    animation: showUp 0.3s 1.5s ease-in-out forwards;
}
.slider-content .slider-imgs .slider-img-1,
.slider-content .slider-imgs .slider-img-2{
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: auto 110%;
    height: 100%;
    width: 50%;
    display: inline-block;
}
.slider-content .slider-imgs .slider-img-1{
    background-image: url(../main_imgs/slide-1-2.jpg);
}

.slider-content .slider-imgs .slider-img-2{
    background-image: url(../main_imgs/ac2-generic-1.jpg);
}
.slider-content .slider-imgs.left .slider-img-1{
    background-position-y: -1010%;
}
.slider-content .slider-imgs.left .slider-img-2{
    background-position-y: 10%;
}
.slider-content .slider-imgs.right .slider-img-1{
    background-position-y: 10%;
}
.slider-content .slider-imgs.right .slider-img-2{
    background-position-y: -1010%;
}
/* ---------------------- */
/* SLIDER TEXT */
.slider-content .slider-text{
    position: absolute;
    padding: var(--big-space);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a2a2a90;
}
.slider-content .slider-text .slider-text-content{
    position: relative;
    color: white;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    width: 85%;
    margin: 0 auto;
}
.slider-content .slider-text .slider-text-content.left{
    text-align: left;
}
.slider-content .slider-text .slider-text-content.right{
    text-align: right;
}
.slider-content .slider-text .slider-text-content *{
    position: relative;
    opacity: 0;
    animation: showUp 0.3s 1s ease-in-out forwards;
}
.slider-content .slider-text .slider-text-content h3{
    font-size: var(--big-global-size);
    font-weight: 800;
    color: white;
}
.slider-content .slider-text .slider-text-content p{
    color: var(--second-dark-color);
    font-size: var(--big-fontSize);
}
.slider-content .slider-text .slider-text-content p:nth-of-type(2){
    font-size: var(--middle-2-global-size);
}
.slider-content .slider-text .slider-text-content p:hover{
    color: white;
}
.slider-content .slider-text .slider-text-content .btn{
    margin-top: var(--big-global-size);
}
/*--------------------*/
/* ANIMATION CLASSES */
.showElement{
    animation:showElement 0.3s ease-in-out forwards;
}
.hideElement{
    animation:hideElement 0.3s ease-in-out forwards;
}
/* ------------------ */
