.feedback{
    background: var(--main-color);
    padding: var(--big-global-size);
    text-align: center;
    position: relative;
    overflow: hidden;
}
.feedback .feedback-btns{
    position: absolute;
    color: white;
    font-size: var(--middle-2-global-size);
    width: 100%;
    bottom: 0;
    left: 0;
}
.feedback .feedback-btns span:nth-of-type(1),
.feedback .feedback-btns span:nth-of-type(2){
    position: absolute;
}
.feedback .feedback-btns span:nth-of-type(1){
    left: 0;
}
.feedback .feedback-btns span:nth-of-type(2){
    right: 0;
}
.feedback .section-header h1{
    color: white;
}
.feedback .feedback-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30%,1fr));
    justify-content: center;
    align-items: center;
    grid-gap: 5%;
    width: 315%;
    position: relative;
}
.feedback .feedback-content.left_1{
    left: 0;
}
.feedback .feedback-content.left_2{
    left: -110%;
}
.feedback .feedback-content.left_3{
    left: -220%;
}
.feedback .feedback-single{
    padding: var(--big-2-global-size) var(--middle-2-global-size);
}
.feedback .feedback-single .feedback-coma{
    font-size: var(--big-2-global-size);
    color: white;
    text-align: left;
    font-weight: 901;
    padding: 0;
    margin-bottom: -50px;
}
.feedback .feedback-single p{
    font-size: var(--small-global-size);
    letter-spacing: 1px;
    color: var(--second-dark-color);
    font-style: italic;
    padding: var(--big-2-global-size);
}
.feedback .feedback-single h5{
    font-size: var(--middle-2-global-size);
    color: white;
    letter-spacing: 0px;
}
